@media screen and (max-width: 720px){
	.active a{
	color: #fff!important;
	border-bottom: 0;
	}
	#header h1{
	margin-top: 60px;
	font-size: 40px;
	}
	.about h1{
	margin-top: 40px;
	font-size: 25px;
	text-align: center;
	color: blue;
	}
	.rpg{
	margin-right: 0px;
	}
	.about-img{
	width: 100%;
	margin-top: 0px;
	position: relative;
	}
	
	.about-img img{
	width: 80%;
	margin-top: 5px;
	margin-bottom: 50px;
	position: relative;
	}

	.plus {
    position: absolute;
    top: 100%;
    left: 80%;
    font-size: 33px;
    font-weight: bold;
	}
	.equal {
	    position: absolute;
	    top: 41%;
	    right: 5%;
	    font-size: 33px;
	    font-weight: bold;
	}
	

		
	


}